html {    

}

body {
    
    background-image: url("snowflake.png");
    background-repeat: repeat;
    font-family:"Segoe UI";
    color:#c00;


}

#wrapper {
	
	max-width: 1000px;
    width:1000px;
    margin:0 auto;
    margin-top:0px;
	background-color:#B30009;
	border: 2px solid;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	padding-bottom: 60px;
	display:block;
	overflow:auto;
	margin-bottom:60px;
}


#logo {
    
    background-image: none;
    position: relative;
    height:150px;
    
}

#nav {
    float: left;
    background-color: #FFF;
    width:100%;
}

#nav ul {
	
	margin-left:0px;
	
}

#nav li {
    list-style-type: none;
    float: left; 
}

#nav li a {
      display: block;
      margin-right:20px;
      text-decoration: none;
      font-weight: bold;
      color: #B30009;
      border-bottom:3px solid #FFF;
      
   }
   
#nav li a:hover {
	
      border-bottom:3px solid #B30009;

}



#header {
	
	
}
   
#container {
	
        padding-bottom:60px;
        max-width:1000px;
        margin-top:90px;

}


#content {
    
    margin-left:20px;
    border:1px solid #c0c0c0;
	border-radius: 25px;
    width: 60%;
    padding:20px;
    padding-bottom: 40px;
    float:left;
    background-color:#fff;
    border-top:1px solid #fff;

}

#calendar {
	
	margin-left:20px;
    border:1px solid #c0c0c0;
	border-radius: 25px;
    width: 90%;
    padding:20px;
    padding-bottom: 40px;
    float:left;
    background-color:#fff;
    background-image:url("bg.jpg");
    border-top:1px solid #fff;
	
}


#sidebar {
	
    margin-top: 90px;
	border:1px solid #c0c0c0;
	border-radius: 25px;
	margin-left:70%;
    padding: 20px;
	width: 230px;
	background-color:white;
	
}

h2 {

margin: 10px;
margin-left:0px;
margin-top: 0;
    
}

// DOORS of the calendar

.doors {
   margin: 4rem 0;
   counter-reset: days;
}

.doors > li{
  -webkit-perspective: 900;
  -moz-perspective: 900;	
  -o-perspective: 900;	   
  perspective: 900;
  
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;  
  
  counter-increment: days;
}

.doors li:nth-child(6n){
  margin-right: 0;
}

.doors > li,
.doors li .door,
.doors li .door:after,
.doors li .doorway{
  width: 125px;
  height: 125px;
  left: 0;
  top: 0;
  display: block;
  
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;  
}

.doors li .door{
  position: absolute;
  z-index: 3;
  border-left: 1px solid rgba(255,255,255,1);  
  border-top: 1px dashed rgba(255,255,255,1);
  border-right: 1px dashed rgba(255,255,255,1);
  border-bottom: 1px dashed rgba(255,255,255,1);

  padding: 1rem;
  
  color: transparent; 
}

.doors li a{
  display: block;
  text-decoration: none;
  color: transparent;
  position: relative;
}

/* The numbers */
.doors li .door:before{
  display: block;
  position: absolute;
  left: 15px;
  top: 15px;
  content: counter(days);  
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2.6rem;
  line-height: 1;
  font-family: "clan-web-1", "clan-web-2", sans-serif;
  font-weight: bold;  
  padding-right: 20px;
  background: url(../images/lock.png) 100% 100% no-repeat;
}

